/*-----Body Links-------*/

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #0000FF;
  font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
color: purple; /* darker color when hovering */

}

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #0000FF !important;
  font-weight: bold !important;
  border-left: solid 4px;
  border-color: #5699cc;
  padding-left: 11px !important;
}  

