/*-----Body Links-------*/

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #0000FF;
  font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
color: #0096D1; /* darker color when hovering */

}

  /* all TOC list items, basically */

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
font-size: 150% !important;
  color: #2f5175;
 
}

/*------------ TOC --------------*/

.book .book-summary {
  background: #fff6ea;
  border-right: none;
}

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #0000FF !important;
  font-weight: bold !important;
  font-size: 150% !important;
  border-left: solid 4px;
  border-color: #000;
  padding-left: 11px !important;
 
}  

.summary a:hover {
   font-weight: bold !important;
  color: #7009B4 !important;
  font-size: 120% !important;
  padding-left: 11px !important;
} 

/*------------ Code Chunks --------------

/*.book .book-body .page-wrapper .page-inner section.normal pre {
/*    font-size: 150% ;
/*    /*color: purple !important;*/
/*     /*background: #fff6ea; */
/*    border: 1px solid #ddd;
/*    border-color: #000;
/*}
*/



.Rchunk {
  font-size: 120% ;
  background-color: #fff6e6  !important;
 /*  #fff6ea  #f7f9fb*/
   /*  font-weight: bolder;*/ 
  
  
}


.Rout {
  font-size: 120% ;
background-color: #fff !important; 
 /* #d9edf7*  #fff6e6*/
  color: black !important;
  border: 1px solid #ddd !important;
  border-color: #000 !important;

}

a[target="_blank"]:after {
    content: " (external link)";
}

a.anchor-section::before {
  content: '(section link)';
}

/* INLINE...doesn't work?? */
/* .book .book-body .page-wrapper .page-inner section.normal code /*{
   font-weight: bolder;
/*  background-color: #eaeff0;
/*  font-family: Monospace;*/
 /* color: black*/
/*}*/

